grpcio
grpcio-tools
motor
beanie
loguru
PyYAML
passlib[bcrypt]
email-validator
pyjwt
python-logging-loki
aiokafka
opentelemetry-distro
opentelemetry-exporter-jaeger-thrift
opentelemetry-instrumentation-grpc
