motor
beanie
loguru
PyYAML
kafka-python
aiokafka
grpcio
grpcio-tools
asyncio
opentelemetry-distro
opentelemetry-exporter-jaeger-thrift
opentelemetry-instrumentation-kafka-python
opentelemetry-instrumentation-grpc
