motor
beanie
loguru
PyYAML
kafka-python
aiokafka
grpcio
grpcio-tools
asyncio
python-logging-loki
opentelemetry-distro
opentelemetry-exporter-jaeger-thrift
opentelemetry-instrumentation-kafka-python
opentelemetry-instrumentation-grpc
