grpcio
grpcio-tools
motor
beanie
loguru
python-logging-loki
PyYAML
aiokafka
opentelemetry-distro
opentelemetry-exporter-jaeger-thrift
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-kafka-python

