beanie
grpcio
grpcio-tools
loguru
PyYAML
firebase-admin
pydantic
kafka-python
python-logging-loki
motor
aiokafka
opentelemetry-distro
opentelemetry-exporter-jaeger-thrift
opentelemetry-instrumentation-grpc
