grpcio
grpcio-tools
neo4j
neomodel
loguru
PyYAML
kafka-python
aiokafka
python-logging-loki
opentelemetry-distro
opentelemetry-exporter-jaeger-thrift
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-kafka-python
